mat-card {
  width: 65%;
  margin: auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: #424242;
}

button:hover{
  background-color: white;
  opacity: 50% ;
}

mat-card-subtitle{
  font-style: italic;
}